@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    background-color: #5F9DF7;
    position: relative;
}

.botones{
    display: flex;
    flex:auto;
    width: 100%;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

/* Navbar */
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 50px;
}

.imagenLogo{
    width: 50px;
    height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    width: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #5F9DF7;
    color: white;
}

.logo {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 3vw;
    background-color: white;
}


/* Content */

.bienvenido {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    letter-spacing: 10px;
}


.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: none;
}

.container-input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    padding: 20px;
    padding-top: 200px;
}


.ayuda{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
    margin-top: 5vh;
    background-color: #F7F7F7;
    border: #000000 1px ;
    border-radius: 40px;
    font-size: 22px;
    color:#222222;
    font-weight: bold;
    padding: 100px;
}



@media (max-width: 600px) {
    .bienvenido {
        display: flex;
        align-items: center;
        text-align: center;
    }

    /* Navbar */
    .topnav a {
        float: right;
        color: #000000;
        text-align: center;
        padding: 15px 10px;
        text-decoration: none;
        font-size: 10px;
        background-color: white;
        width: auto;
    }

    .logo {
        float: left;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 3vw;
        background-color: white;
        font-size: 15px;
    }



    .container-input {
        width: 100%;
        height: 100%;
        background-color: white;
        border: none;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ayuda{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 0px;
        margin-top: 5vh;
        border-radius: 5px;
        font-size: 20px;
        text-shadow: #585858 0px 0px 0px;
        color:#000000;
        font-weight: bold;
        padding: 50px;
        border-radius: 20px;
    }

    .imagenDecoration{
        display: none;
    }

    .imagenLogo{
        display: none;
    }
}